.title {
  color: white;
  font-weight: 700;
  font-size: 5rem;
  margin-top: 3rem;
}

.subtitle {
  color: #ccc;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 2rem;
}


.smaller-title {
  color: white;
  font-weight: 500;
  font-size: 3rem;
  margin: 0;
}

.smaller-subtitle {
  color: #ccc;
  font-weight: 400;
  font-style: italic;
}