.title {
  color: white;
  font-weight: 700;
  font-size: 5rem;
  margin-top: 3rem;

  @media only screen and (max-width: 430px) {
    font-size: 4rem;
  }
}

.subtitle {
  color: #ccc;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 0 2rem 0 0 ;

  @media only screen and (max-width: 490px) {
    font-size: 1.5rem;
  }
}


.smaller_title {
  color: white;
  font-weight: 500;
  font-size: 3rem;
  margin: 0;
}

.smaller_subtitle {
  color: #ccc;
  font-weight: 400;
  font-style: italic;

  @media only screen and (max-width: 430px) {
    font-size: 1.25rem;
  }
}