@import 'colors';
@import 'standard';

.pageLayout {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient($transparentBackground,
      $transparentBackground),
    url('../public/schwan.jpg');
  background-position: center;
  background-size: auto;
}

.navbar {
  width: 100%;
  min-height: 50px;
  color: white;
  padding-top: 1rem;
}

.footer {
  margin-top: 2rem;
  background: $background;
  color: white;
  min-height: 20px;
  padding: 15px;  
  vertical-align: middle;
  line-height: 20px;    
}

.home {
  font-size: 2rem;
  padding-left: 4rem;

  &:hover {
    color: #aaa;
  }

  @media only screen and (max-width: $large) {
    padding-left: 2rem;
  }

  @media only screen and (max-width: $small) {
    font-size: 1.5rem;
  }
}

.content {
  padding: 0 10rem 0 8rem;
  flex: 1;

  @media only screen and (max-width: $medium) {
    padding: 0 6rem 0 4rem ;
  }

  @media only screen and (max-width: $small) {
    padding: 0 4rem 0 2rem ;
  }
}